#Do not track site-packages content

appvenv/lib/python3.10/site-packages/*


#Do not track env file.
*data.env

#Do not track pychcache changes
application/__pycache__/*

#Do not track venv cfg file
appvenv/pyvenv.cfg
