{% extends 'layout.html' %}
{% block title %}
    Register Page
    {% from "includes/_formhelpers.html" import render_field %}
{% endblock %}

{% block content %}
<style>
    .card {
        margin: 0 auto; /* Added */
        float: none; /* Added */
        margin-bottom: 10px; /* Added */
}
h6 {
   width: 100%; 
   text-align: center; 
   border-bottom: 1px solid #000; 
   line-height: 0.1em;
   margin: 10px 0 20px; 
} 

h6 span { 
    background:#fff; 
    padding:0 10px; 
}
</style>
<body>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xs-10 col-sm-6  col-md-6 ">
                <div class="card card-style shadow mb-2">
                    <div class="card-body">
                        <form method="POST" class="form-register">
                            {{ form.hidden_tag() }}
                            <div class="text-center">
                                <img class="mb-4" src="https://res.cloudinary.com/duyks4xux/image/upload/v1636712158/752-7524489_data-analytics-logo-png-transparent-png_xczfy2.png" alt="">
                                <h1 class="h3 mb-3 font-weight-normal">
                                    Create Account
                                </h1>
                            </div>
                            <div class="row mb-4">
                                <div class="col-12">
                                    {{ form.username.label(class="form-label") }}
                                    {{ form.username(class="form-control", placeholder="User Name") }}
                                    {% for error in form.username.errors %}
                                    <span style="color: red;">[{{ error }}]</span>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="row mb-4">
                                <div class="col-12">
                                    {{ form.email_address.label(class="form-label") }}
                                    {{ form.email_address(class="form-control", placeholder="Email Address") }}
                                    {% for error in form.email.errors %}
                                    <span style="color: red;">[{{ error }}]</span>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="row mb-4">
                                <div class="col-12">
                                    {{ form.password1.label(class="form-label") }}
                                    {{ form.password1(class="form-control", placeholder="Password") }}
                                    {% for error in form.password1.errors %}
                                    <span style="color: red;">[{{ error }}]</span>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="row mb-4">
                                <div class="col-12">
                                    {{ form.password2.label(class="form-label") }}
                                    {{ form.password2(class="form-control", placeholder="Confirm Password") }}
                                    {% for error in form.password2.errors %}
                                    <span style="color: red;">[{{ error }}]</span>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="row mb-2">
                                <div class="col-12">
                                    {{ form.submit(class="btn btn-block btn-primary") }}
                                </div>
                            </div>
                            <div class="row mb-2">
                                <div class="col-12">
                                    <h6><span>OR</span></h6>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-12">
                                    <h7>Already have an account?</h7>
                                    <a class="btn btn-block btn-secondary" href="{{ url_for('dashboard') }}">Login</a>
                                </div>
                            </div>
                            <div class="checkbox mb-3">
                            </div>
                
                            
                
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
{% endblock %}